<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Management</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style></style>
  </head>
  <body
    class="bg-[url('./school1.jpg')] bg-cover bg-no-repeat text-neutral-100 font-[Poppins] relative max-h-screen"
  >
    <main class="min-h-screen w-full flex flex-col justify-center items-center">
      <h1 class="text-5xl font-bold mb-5">School-name intl.</h1>
      <p class="text-lg">Where learning is a laughing matter!</p>
      <button
        type="submit"
        class="bg-[#0890ff] py-2.5 px-5 rounded-3xl mt-5 hover:bg-[#0890dd]"
      >
        <a href="/login">My Dashboard</a>
      </button>
    </main>
  </body>
</html>
