<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | Management</title>
    <!-- <link rel="stylesheet" href="styles.css" /> -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="bg-[url('./school1.jpg')] bg-cover bg-no-repeat text-neutral-100 font-[Poppins] relative max-h-screen"
  >
    <% if(messages.error) { %>
    <div
      class="absolute w-fit top-2 left-0 right-0 mx-auto bg-red-200 text-red-800 p-3 rounded-md"
    >
      <%= messages.error%>
    </div>
    <% } %> <% if(messages.success) { %>
    <div
      class="absolute w-fit top-2 left-0 right-0 mx-auto bg-green-200 text-green-800 p-3 rounded-md"
    >
      <%= messages.success%>
    </div>
    <% } %>

    <main class="min-h-screen w-full flex flex-col justify-center items-center">
      <h2 class="text-4xl font-bold mb-4">Charles Dale Intl.</h2>
      <form
        action="/login"
        method="post"
        class="flex flex-col gap-2 w-[90%] md:w-[30%] bg-neutral-400 bg-opacity-10 py-8 px-10 rounded-xl backdrop-blur-sm"
      >
        <h3 class="text-2xl text-center md:text-left mb-3 font-semibold">
          Welcome back ...
        </h3>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Enter your Username"
          required
          autocomplete="off"
          class="rounded-2xl py-2 px-4 mb-4 outline-none text-neutral-900 font-semibold placeholder:font-medium"
        />
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Enter your password"
          required
          class="rounded-2xl py-2 px-4 mb-4 outline-none text-neutral-900 font-medium font-semibold placeholder:font-medium"
        />
        <div
          class="flex flex-col md:flex-row justify-between gap-2 items-center"
        >
          <button
            type="submit"
            class="bg-[#0890ff] py-1.5 text-lg px-7 mt-2 rounded-3xl hover:bg-[#0890dd]"
          >
            Login
          </button>
          <p class="text-sm underline hover:text-neutral-300 text-right">
            <a href="/signup">Don't have an account?</a>
          </p>
        </div>
      </form>
    </main>
  </body>
</html>
